[relayer]
mnemonic = "your mnemonic phrase here"

[database]
path = "./routes.json"

[strategy]
[strategy.path-finder]
vault = "0x..."
contract = 0x...
max-liquidity = "1000"
min-liquidity = "100"
max-profit-ratio = 0.005
min-profit-ratio = 0.001
