[relayer]
mnemonic = "bounce state female morning list humor kitchen that gas dove become saddle"
signer-number = 10

[strategy]
[strategy.path-finder]
type = "path-finder"
contract=""
vault = "0x0000000000000000000000000000000000000000"
max-liquidity = "5000"
min-liquidity = "10"
max-profit = "5000"
min-profit = "0.000001"
path = "../database/routes.json"
[strategy.path-finder.gas-config]
priority-fee="1000000000" #1gwei
gas-limit= 1_000_000


[telegram]
bot-token="7620094404:AAECXmbT2NLFfvXC3QsZa4XPXrgTJJKzasI"
chat-id="-4609796765"
report-interval-secs=600
                                                                                                                                                               23        1,1           All